<body class="aboutbody">

  <h1 class="aboutme">About me</h1>

<div class="picandtext">

    <div class="pic"></div>

    <div class="textdiv">
      <h1 class="aboutmeheader">Skills</h1>
      {{#if isAdmin}}
      <form action="/skills/create" method="get">
          <input type="submit" value="New Skill" class="loginbutton">
      </form> 
      {{/if}}
      
        
 {{#if skillsError}}
    Sorry, there was a problem with the database:<br/>
    {{theError}}
  {{else}}

      {{#each Skills}}
 <h2 class="aboutmetext">
            {{#if ../isAdmin}}
            
              <form action="/skills/update/{{sid}}" method="get">
                <input type="submit" value="Modify" class="modifydeletetext">
              </form> 

              <form action="/skills/delete/{{sid}}" method="post" >
                <input type="submit" value="Delete" class="modifydeletetext">
              </form> 
           
            {{/if}}
            {{sname}} - {{proficiency_level}}

            

      {{/each}}
      </h2>
      <h1 class="aboutmeheader">Languages</h1>
      {{#each LanguageSkills}}
        <h2 class="aboutmetext">{{lname}} - {{proficiency_level}}</h2>
      {{/each}}
</div>

</div>
{{/if}}
</body>