<body class="projectbody">
    <h1>Modify Project</h1>
     <div class="newprojectdiv">
        {{#if isLoggedIn}}
        {{#if isAdmin}}
        <form action="/projects/update/{{project.pid}}" method="POST" class="newprojectform">
            <input type="text" placeholder="Project name" name="projname" value="{{project.pname}}" required="required">
            <input type="number" name="projyear"  placeholder="Project year: 2023" value="{{project.pyear}}" required="required">
            <textarea name="projdesc" placeholder="Description" cols="30" rows="10">{{project.pdesc}}</textarea>
            <select name="projtype"  required="required">
                <option value="Research"{{#if (theTypeR project.ptype)}} selected="selected"{{/if}}>Research</option>
                <option value="Teaching"{{#if (theTypeT project.ptype)}} selected="selected"{{/if}}>Teaching</option>
                <option value="Other"{{#if (theTypeO project.ptype)}} selected="selected"{{/if}}>Other</option>
            </select>
            <input type="text" name="projimg" placeholder="/img/" value="{{project.pimgURL}}" required="required">
            <input type="submit" value="Modify project" class="addproject">
        </form>
        {{else}}
        <h1>Sorry, you must be an admin to add a new project!</h1>
        {{/if}}
        {{else}}
        <h2>
            Sorry, you must be logged in to add a new project! <br>
            Please go to the <a href="/login">login</a> page.
        </h2>
        {{/if}}
    </div>
</body>

