  <body class="projectbody">
    
  <h1>My Projects</h1>

  {{#if isAdmin}}
  <a href="/projects/new" class="centered-link">
    New Project
  </a>
  {{/if}}
  
  {{#if dbError}}
      Sorry, there was a problem with the database:
      <br />
      {{theError}}
  {{else}}
 <div class="projectsdiv">
    {{#each projects}}

     
        <div class="projectboxframe">

          <div class="modifydeletediv">
            {{#if ../isAdmin}}

              <form action="/projects/{{pid}}/update" method="post">
                <input type="submit" value="Modify" class="modifydeletetext">
              </form> 

              <form action="/projects/{{pid}}/delete" method="post" >
                <input type="submit" value="Delete" class="modifydeletetext">
              </form> 
            {{/if}}
          </div>
          <div class="projectphoto">
          <img src="{{pimgURL}}" alt="{{pimgURL}} " class="projectimg"/>
          </div>
          <div class="nameyear"><p class="nameyeartext">{{pname}} ({{pyear}})  -  {{ptype}}</p></div>

        </div>
   

    {{/each}}
   </div>
  {{/if}}
  </body>
