<body class="projectbody">
    
<h1>{{project.pname}} ({{project.pyear}})</h1>

<div class="previewpicandtext">
    <img src="{{project.pimgURL}}" alt="{{project.pimgURL}}" class="previewpic"/>
    <div class="previewtextdiv"><h2>{{project.pdesc}}</h2></div>
</div>








</body>